apiVersion: v1
kind: Service
metadata:
  name: cryptoscreener
  labels:
    app: cryptoscreener
    app.kubernetes.io/name: cryptoscreener
    app.kubernetes.io/component: pipeline
    app.kubernetes.io/part-of: cryptoscreener-x
spec:
  type: ClusterIP
  selector:
    app: cryptoscreener
  ports:
    - name: metrics
      port: 9090
      targetPort: metrics
      protocol: TCP
